In [3]:
firstname = "olawumi"
lastname ="joseph"
middlename = "pelumi"
fullname = firstname + " " + lastname + " " + middlename
print(fullname)

olawumi joseph pelumi

In [5]:
fruits = ['cashew', 'mango', 'banana']
fruits[1]

'mango'

In [30]:
first_initial=firstname[0].upper()
second_initial=middlename[0].upper()
refined_lastname = lastname.title()

fullname_initials = first_initial + "." + second_initial + "." + " " + refined_lastname
print(fullname_initials)

O.P. Joseph

In [19]:
sliced_firstname = firstname[:3]
print(sliced_firstname)

ola

In [22]:
name_repeated = 3 * fullname_initials
name_repeated

'O.P. JosephO.P. JosephO.P. Joseph'

In [23]:
print(len(fullname_initials))

11

In [26]:
'J' in fullname_initials

True

In [31]:
new_fullname=fullname_initials.replace('Joseph','Kolapo')
new_fullname

'O.P. Kolapo'